*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}


:root {
    --bgc: #FFFFFF;
    --text-color: #4d5ae5;
    --dark-color: #2e2f42;
    --dark-blue-item: #434455;
    --color-light: #F4F4FD;
    --bottom-color: #e7e9fc;
}

/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--bgc);
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.list-header {
    display: flex;
    gap: 40px;

}

/* Advanced styles */

/* Nav */



.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.span-logo {
    color: var(--dark-color);
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}

/* Address */
.address-block {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-item);

}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

/* Hero section */
.hero {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    border-radius: 4px;
    background-color: var(--text-color);
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Benefits section */

.benefits-section {
    padding: 120px 0;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}


.benefits-title-item {

    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.benefits-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-item);
}

/* Workflow section */

.workflow-section {
    padding-bottom: 120px;
}

.workflow-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

.workflow-list-item {
    width: calc((100% - 3 * 16px) / 3);
}

.workflow-list {
    display: flex;
    gap: 24px;
}

/* Our team section */
.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-desc {
    text-align: center;

}

.member-info {
    padding: 32px 0;
}

/* Footer section */
.footer {
    padding: 100px 0;
    background-color: var(--dark-color);
}

.block-property {
    display: inline-block;
    margin-bottom: 16px;
}

.span-logo-footer {
    color: #f4f4fd
}

.footer-desc {
    max-width: 264px line-height: 1.5;
    color: var(--color-light);
    letter-spacing: 0.02em;
}

/* Portfolio Main */

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}

.portfolio-list-item {
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid var(--bottom-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color);
    background-color: var(--color-light);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer
}


/* Projects list */

.projects-list {

    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.projects-list-item {
    width: calc((100% - 48px) / 3);
}

.project-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-item);
}